.titu{
  background-color: lightgray;
}

.titu2{
  border-bottom: 2px solid black;
}

#currentTime{
  text-align: center;
}

#cont{
  background-color: lightgray;
}

h1{
	background-color: lightgray;
	text-align: justify;
}

body{
  background-color: #f0f0f0;
 margin: 20px;
}

ul{
  padding-left: 20px;
}

div{
  text-align: justify ;
}

p{
  border-bottom: 1px solid black;
}

aside{
  width: 30%;
  padding-right: 15px;
  margin-right: 15px;
  float: left;
}

main {
      width: 66%;
      float: right;
      box-sizing: border-box;
    }
